{{- if .Values.ingressController.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ingress-nginx
  namespace: {{ include "max-weather.ingressController.namespace" . }}
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/component: controller
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ingress-nginx-controller
  namespace: {{ include "max-weather.ingressController.namespace" . }}
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/component: controller
data:
  {{- range $key, $value := .Values.ingressController.config }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
{{- end }}
