{{- if .Values.ingressController.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx-controller
  namespace: {{ include "max-weather.ingressController.namespace" . }}
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/component: controller
  {{- with .Values.ingressController.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.ingressController.service.type }}
  externalTrafficPolicy: Local
  sessionAffinity: None
  selector:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/component: controller
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  - name: https
    port: 443
    protocol: TCP
    targetPort: https
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: nginx
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/component: controller
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: v1
kind: Secret
metadata:
  name: ingress-nginx-admission
  namespace: {{ include "max-weather.ingressController.namespace" . }}
type: Opaque
data:
  cert: ""
  key: ""
{{- end }}
